@font-face {
  font-family: 'gt-super';
  src: url(../fonts/GT-Super/GT-Super-Display-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'soehne';
  src: url(../fonts/Söhne/test-soehne-buch.woff2);
  font-weight: normal;
  font-style: normal;
}

