@font-face {
  font-family: 'gt-super';
  src: url(../fonts/GT-Super/GT-Super-Display-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'soehne';
  src: url(../fonts/Söhne/test-soehne-buch.woff2);
  font-weight: normal;
  font-style: normal;
}

body{
  background: #fffffff2;
  color: #242424;
}

.registerForm{
  display: flex;
  border: 1px solid #242424;
  width: 60%;
  height: auto;
}

.registerForm label, input{
  margin: 5px;
}

